.cover {
    background: url(../image/overlay.png) repeat scroll 0 0 rgba(0, 0, 0, 0);
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.card-local {
    /*margin-top: 30px;*/
    /*margin-bottom: 30px;*/
}

.card-local .card-header{
    background-color: #d0e9c6;

}


.card-local .card-block{
    padding-top: 30px;
    padding-bottom: 30px;

}

/*body {*/
    /*padding-top:20px;*/
/*}*/



body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}



/*
  pills

*/

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus {
    color: white;
    background-color: #4fb04f;
}

.nav-pills > li.active > a:hover {
    color: white;
    background-color: #309030;
}

.nav-pills > li > a,
.nav-pills > a:focus {
    color: #309030;
    background-color: #fff;
}

.nav-pills > li > a:hover {
    background-color: light-gray;
    color: #309030;
}


/*
    navbar
*/



.navbar-default {
    background-color: #4fb04f;
    border-color: #309030;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}

.navbar-default .navbar-text {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #4fb04f;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #309030;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #4fb04f;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #309030;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #309030;
}

.navbar-default .navbar-toggle {
    border-color: #309030;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #309030;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}

.navbar-default .navbar-link {
    color: #ffffff;
}

.navbar-default .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #309030;
    }
}
